.about .subtitle {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  line-height: 17.71px;
  letter-spacing: 5px;
  opacity: 0.5;
  color: var(--sce-dac);
  margin-bottom: 10px;
}
.about .title {
  text-align: center;
  font-size: 40px;
  line-height: 50.6px;
  color: var(--sce-dac);
}

.about .container-cover {
  display: flex;
  justify-content: center;
  padding: 70px;
}
.about .container-cover .cover {
  max-width: 1440px;
}

.about .content {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 70px;
}
.about .text-section {
  max-width: 637px;
}
.about .image-section img {
  max-width: 580px;
  width: 100%;
  height: 410px;
  object-fit: cover;
  border-radius: 20px;
}

.about .text-section p {
  color: var(--sce-dac);
  font-size: 14px;
  line-height: 17.71px;
  max-width: 570px;
}
.about .accordion .accordion-icon {
  border: 1px solid var(--pri-dac);
  border-radius: 50%;
  width: 20px;
  min-width: 20px;
  height: 20px;
  position: relative;
}
.about .accordion .accordion-icon img:first-child {
  position: absolute;
  top: 45%;
  left: 20%;
  display: none;
}
.about .accordion .accordion-icon img:nth-child(2) {
  position: absolute;
  top: 26%;
  left: 21%;
}
.about
  .accordion
  .accordion-item
  .accordion-button.active
  .accordion-icon
  img:first-child {
  display: block;
}
.about
  .accordion
  .accordion-item
  .accordion-button.active
  .accordion-icon
  img:nth-child(2) {
  display: none;
}
.about .accordion-item {
  margin-bottom: 15px;
}
.about .accordion-button div {
  color: var(--sce-dac);
}
.about .accordion-button {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: var(--sce-dac);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
}

.about .accordion-content {
  padding-left: 50px;
  display: none;
  justify-content: start;
  align-items: center;
}

.about .accordion-content p {
  margin: 0;
  font-size: 14px;
  color: var(--sce-dac);
  max-width: 450px;
}

.accordion .accordion-content-icon {
  background-image: url("../images/list-style.png");
  background-size: cover;
  max-width: 16px;
  min-width: 16px;
  height: 13px;
  margin-right: 15px;
}
@media (max-width: 770px) {
  .about .subtitle {
    font-size: 12px;
  }
  .about .title {
    font-size: 20px;
    line-height: 25.3px;
  }
  .about .container-cover {
    padding: 25px;
  }
  .about .cover .content {
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
  }
  .about .accordion-content {
    padding: 0;
  }
  .about .accordion-button {
    padding-left: 0;
  }
  .accordion .accordion-content-icon {
    min-width: 20px;
    height: 18px;
  }
  .about .text-section p {
    font-size: 12px;
  }
  .about .accordion-button div {
    font-size: 12px;
  }
  .about .image-section img {
    height: 200px;
  }
}
