@import './base.css';

/* Font Styles */
.be-vietnam-pro-thin {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
}

.be-vietnam-pro-bold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
}

/* Client Section */
.client {
    margin-top: 107px;
    display: flex;
    padding: 0 5px;
    justify-content: center;
}

.client .subtitle {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    line-height: 17.71px;
    letter-spacing: 5px;
    opacity: 0.5;
    color: var(--sce-dac);
    margin-bottom: 10px;
}

.client .title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 50.6px;
    color: var(--sce-dac);
}

.client .title span {
    color: var(--pri-ds);
}

.client .cover {
    padding: 70px;
    max-width: 1440px;
}

.client .recent-posts {
    display: grid;
    margin-top: 70px;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
}

.client .recent-posts .post img:hover {
    background-color: var(--pri-ds);
}

.client .grid-item .icon {
    width: 15px;
    height: 15px;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

/* Post Styles */
.client .post {
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.client .post img {
    border-radius: 15px;
    width: 420px;
    height: 540px;
    object-fit: cover;
}

.client .post h3 {
    font-size: 16px;
    color: var(--sce-dac);
}

.client .post .category {
    border-left: 0.5px solid;
    border-right: 0.5px solid;
    border-color: var(--sce-dac);
    padding: 0 10px;
    line-height: 10px;
}

.client .post-info {
    font-size: 12px;
    color: var(--sce-dac);
    margin: 20px 0;
}

.client .post .detail {
    text-decoration: none;
}

.client .post .detail p {
    margin: 0;
}

.client .post .detail .detail-cover {
    cursor: pointer;
    font-size: 12px;
    color: var(--pri-dac);
    display: flex;
}

.client .post .detail .icon-group img {
    width: 6px;
    height: 18px;
}

.client .post .detail .icon-group {
    margin-left: 10px;
    letter-spacing: -5px;
}

.client .post h3 {
    color: var(--sce-dac);
    font-size: 16px;
    margin: 10px 0;
}

.client .post .description {
    color: var(--sce-dac);
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
}

.client .post-style-2 {
    padding: 20px;
    background-color: var(--c50-dac);
}

/* Carousel Styles */
.client .carousel-indicators li {
    background-image: url("../svg/diamond.svg");
    background-size: cover;
    background-position: center;
    width: 12px !important;
    height: 9px !important;
    background-color: transparent !important;
    opacity: 0.1 !important;
}

.client .carousel-indicators li.active {
    opacity: 1 !important;
}

/* Responsive Design */
.client .screen-pc {
    display: grid;
    display: flex;
    justify-content: center;
}

.client .screen-mobile {
    display: none;
}

.client .post-image {
    position: relative;
    overflow: hidden;
}

.client .post-image img {
    display: block;
    transition: transform 0.3s ease;
}

.client .post-image:hover img {
    transform: scale(1.1);
}

.client .post-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 111, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.client .post-image:hover .overlay {
    opacity: 1;
}

.client .post-image .overlay .overlay-text {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 100%;
    text-align: left;
    transform: translate(-50%, -50%);
    color: #fff; 
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
}

.client .post-image .overlay .overlay-text h3,
.client .post-image .overlay .overlay-text p {
    margin: 10px 0;
    color: #fff; 
}

/* Media Queries for Small Screens */
@media (max-width: 770px) {
    .client {
        margin-top: 170px;
    }
    .client .cover {
        padding: 25px;
    }
    .client .screen-pc {
        display: none;
    }
    .client .screen-mobile {
        display: block;
    }
    .client .post h3 {
        font-size: 14px;
    }
    .client .post .description {
        font-size: 12px;
    }
    .client .subtitle {
        font-size: 12px;
    }
    .client .title {
        font-size: 20px;
    }
    .client .recent-posts {
        margin-top: 25px;
    }
    .client .post .detail .detail-cover {
        font-size: 10px;
    }
    .client .post .detail .icon-group img {
        width: 4px;
        height: 14px;
    }
    .client .post-image .overlay {
        background-color: rgba(255, 111, 0, 0.2);
        opacity: 1; 
    }
    .client .post-image .overlay .overlay-text {
        display: block;
        text-align: center;
    }
    .client .post img {
        width: 100%;
        height: 470px;
        object-fit: cover;
        border-radius: 15px;
    }
    .overlay {
        border-radius: 15px;
    }
}
