.footer {
  background-color: var(--sce-ds);
  padding: 40px 20px 40px 20px;
  display: flex;
  color: var(--white-color);
}
.footer div {
  max-width: 1440px;
}
.footer .footer-about {
  margin-bottom: 30px;
}
.footer .list-about li a {
  color: var(--white-color);
  text-decoration: none;
}
.footer .list-about li a:hover {
  color: var(--pri-ds);
  transition: all .2s;
  text-decoration: none;
}
.footer .footer-contact-title {
  margin-bottom: 30px;
}
.footer h5 {
  font-weight: bold;
}
.footer a {
  color: var(--sce-dac);
  text-decoration: none;
  transition: all .2s;
}
.footer a:hover {
  color: var(--pri-ds);
  transition: all .2s;
}
.footer .contact-info li {
  min-width: 100px;
  font-size: 14px;
  margin-bottom: 20px;
}
.footer .logo {
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: bold;
}
.footer .logo img {
  width: 120px;
  height: 90px;
  gap: 0px;
  opacity: 0px;
}
@media (max-width: 770px) {
  .footer .footer-contact .contact-info li {
    font-size: 12px;
    margin-top: 10px
  }
  .footer .footer-contact  {
    margin-top:15px;
  }
  .footer .footer-contact .footer-contact-title {
    font-size: 16px !important;
    line-height: 20.24px;
    margin-bottom: 20px;
  }
  .footer .footer-about {
    font-size: 16px !important;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 20.24px;
  }
  .footer .list-about li {
    height: 15px;
    margin-bottom: 15px;
  }
  .footer div {
    color: var(--c50-dac);
  }
  .footer .logo {
    margin-bottom: 22px;
  }
  .footer .logo img {
    width: 150px;
    height: 128px;
    object-fit: cover;
  }
}