#container {
  display: flex;
  justify-content: center;
}

.about-text-h3 {
  font-style: italic;
  color: gray;
}

.about-text-h1 {
  font-size: 40px;
  color: #534d44;
}

.custom-container {
  width: 1300px;
  height: 500px;
}

.main-section {
  padding: 70px;
  border-radius: 10px;
  max-width: 1440px;
}

.about-content {
  margin-top: 70px;
  display: flex !important;
  justify-content: center !important
}
.our-center .subtitle {
  text-align: center;

  font-size: 14px;
  font-style: italic;
  line-height: 17.71px;
  letter-spacing: 5px;
  opacity: 0.5;
  color: var(--sce-dac);
  margin-bottom: 10px;
}
.our-center .title {
  text-align: center;
  font-size: 40px;
  line-height: 50.6px;
  color: var(--sce-dac);
}

.main-image img {
  /* image 1 */

  width: 640px;
  height: 500px;
  gap: 0px;
  border-radius: 15px 0px 0px 0px;
  opacity: 0px;
  
}

.about-list-item {
  align-items: center;
  display: grid;
  grid-row: 33% 67%;
  border: none;
}

/* .about-list-item .about-small-image {
  width: 180px;
  height: 120px;
} */

.about-small-image img {
  width: 180px;
  height: 120px;
  border-radius: 15px;

  object-fit: fill;
}

.item-start {
  padding-bottom: 30px;
}

.item-end {
  padding-top: 30px;
}

.item-middle {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  padding: 0px;
  gap: 15px;

  width: 383px;
  height: 97px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.text-container p {
  width: 383px;
  height: 64px;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  /* Sce DAC */
  color: #534d44;
}

.container-list-group {
  margin-left: 35px;
}
.our-center {
  background: var(--c50-dac);
}

.our-center .carousel-indicators {
  position: absolute;
  margin-top: 20px;
  text-align: center;
  bottom: -40px !important;
}
.our-center .screen-mobile {
  display: none;
}
.our-center .carousel-indicators li {
  background-image: url("../svg/diamond.svg");
  background-size: cover;
  background-position: center;
  width: 12px !important;
  height: 9px !important;
  background-color: transparent !important;
  opacity: 0.1 !important;
}
.our-center .carousel-indicators li.active {
  opacity: 1 !important;
}
@media (max-width: 768px) {
  .our-center .subtitle {
    font-size: 12px;
  }
  .about-content {
    margin-top: 25px;
  }
  .our-center .title {
    font-size: 20px;
  }
  .main-section {
    padding: 25px;
  }
  .our-center .screen-mobile {
    display: block;
    padding: 50px;
  }
  .custom-container {
    width: auto;
  }
  #aboutCarousel {
    display: block;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }

  .carousel-item {
    text-align: center;
  }
  .carousel-item img {
    height: 450px;
    object-fit: cover;
  }
  .carousel-caption {
    font-size: 24px;
  }

  .carousel-item .text-container {
    text-align: center;
  }

  .carousel-indicators li {
    background-color: #419636;
  }
  .text-container {
    padding: 0;
    margin: 0;
  }
  .text-container p {
    max-width: 100%;
  }
  .social-icons {
    display: none;
  }
}
/* 
@media (min-width: 769px) {
 
  .custom-container {
    width: auto;
  }

  .d-lg-none {
    display: none;
  }
}

@media (max-width: 390px) {
  .custom-container {
    width: 100%;
  }

  .carousel-inner {
    display: flex;
  }

  .carousel-item {
    flex: 0 0 auto;
    width: 100%;
  }
} */