.header-text {
  padding-left: 70px;
  padding-top: 40px;
}

.header-text h5 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.71px;
  color: var(--pri-dac);
  margin-bottom: 10px; /* Added margin-bottom */
}

.header-text h2 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #333333;
  margin-bottom: 20px; /* Added margin-bottom */
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  padding: 24px 18px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.swiper-slide img {
  width: 50px;
  height: 50px;
  margin-right: 10px; /* Added margin-bottom for spacing */

  margin-bottom: 10px; /* Added margin-bottom for spacing */
  fill: var(--pri-dac); /* Set the default color */
}

.swiper-slide:hover {
  background-color: var(--pri-dac);
  color: var(--white-color);
}

.swiper-slide:hover img {
  filter: brightness(0) invert(1); /* Change to white color on hover */
}

.icon-text-active {
  background-color: var(--pri-dac);
  color: var(--white-color);
}

.swiper-slide p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.71px;
  margin: 0; /* Remove default margin */
}

.swiper-container-mobile {
  display: none;
}

@media (max-width: 390px), (max-width: 768px), (max-width: 600px) {
  .swiper-container {
    display: none !important;
  }

  .swiper-container-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns in mobile */
    place-items: center;
    gap: 10px; /* Adjust gap between items */
  }

  .swiper-wrapper {
    display: contents !important; /* Disable Swiper flex behavior */
  }

  .swiper-slide {
    flex: 1 1 45%; /* Adjust width for mobile */
    width: 100%; /* Ensure it doesn't exceed 100% width in mobile */
    flex-direction: column !important; /* Change to column direction */
    padding: auto;
  }
}
